body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.password-container{
    background-color: rgb(171, 80, 255);
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    margin: 10px;
}

.input-container{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

.input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    letter-spacing: 4px;

}

.fa-copy{
    cursor: pointer;
    opacity: 0.3;
}

.fa-copy:hover{
    opacity: 0.7;
}

.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(220, 220, 67);
}

.btn:active{
    transform: scale(0.95);
}

.alert-contaniner{
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.active.alert-contaniner{
    right: -300;
}